<div class="container-fluid">
  <div class="row text-center text-secondary pt-3 pb-2">
  <div class="col-lg-1 col-md-2 col-sm-12"></div>
  <div class="col-lg-2 col-md-12 col-sm-12">
    <img src="/assets/univerlogo.png" alt="Bridge University" class="image">
  </div>
  <div class="col-lg-2 col-md-1 col-sm-12"></div> 
  <div class="col-lg-1 col-md-2 col-sm-12 p-2">
      <a routerLink="/home" class="list-inline-item navbar-brand ">Home</a>
    </div>
    <div class="col-lg-1 col-md-2 col-sm-12 p-2">
      <a routerLink="/about" class="list-inline-item   navbar-brand">About</a>
    </div>
    <div class="col-lg-1 col-md-2 col-sm-12 p-2">
      <a routerLink="/service"class="list-inline-item   navbar-brand">Service</a>
    </div>
    <div class="col-lg-1 col-md-2 col-sm-12 p-2">
      <a routerLink="/contact"class="list-inline-item  navbar-brand">Contact Us</a>
    </div>
  <div class="col-lg-1 col-md-1 col-sm-12"></div> 
  </div>
  <div class="container-fluid bca text-white">
    <div class="row">
      <div class="col-lg-1 col-md-2 col-sm-1 mt-5 pl-3">
        <i class="fa fa-desktop fa-2x icona"></i>
      </div>
      <div class="col-lg-3 col-md-10 col-sm-3 mt-5 pl-3">
        <h4>Graphic Design</h4>
        <p>Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam nonummy nibh euismo.</p>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-1 mt-5 pl-3">
        <i class="fa fa-edit fa-2x icona"></i>
      </div>
      <div class="col-lg-3 col-md-10 col-sm-3 mt-5 pl-3">
        <h4>Illustration</h4> 
        <p>Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam nonummy nibh euismo.</p>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-1 mt-5 pl-3">
        <i class="fa fa-tablet fa-2x icona"></i>
      </div>
      <div class="col-lg-3 col-md-10 col-sm-3 mt-5 pl-3">
        <h4>App Design</h4>
        <p>Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam nonummy nibh euismo.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-1 col-md-2 col-sm-1 mt-5 pl-3 ">
        <i class="fa fa-gamepad fa-2x icona"></i>
      </div>
      <div class="col-lg-3 col-md-10 col-sm-3 mt-5 pl-3">
        <h4>Game Design</h4>
        <p>Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam nonummy nibh euismo.</p>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-1 mt-5 pl-3">
        <i class="fa fa-laptop fa-2x icona"></i>
      </div>
      <div class="col-lg-3 col-md-10 col-sm-3 mt-5 pl-3">
        <h4>Photoshop</h4>
        <p>Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam nonummy nibh euismo.</p>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-1 mt-5 pl-3">
        <i class="fa fa-camera fa-2x icona"></i>
      </div>
      <div class="col-lg-3 col-md-10 col-sm-3 mt-5 mb-5 pl-3">
        <h4>Photo Graphy</h4>
        <p>Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam nonummy nibh euismo.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid bcv text-center" >
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 mt-5 p-4">
          <div class="card">
            <img class="card-img-top width" src="/assets/blog1.jpg" alt="Card image" >
            <div class="card-body">
              <h4 class="card-title h">Transistion In Ux Design</h4>
              <p class="card-text">The term minimalism is also used to describe a trend in design and architecture where in the subject is reduce...</p>
              <h6 class="text-muted">04 October,2013 .<span class="h"> 2 Comments</span></h6>
            </div>
          </div>  
        </div>
         <div class="col-lg-4 col-md-6 col-sm-12 mt-5 p-4">
          <div class="card">
            <img class="card-img-top width" src="/assets/blog2.jpg" alt="Card image" >
            <div class="card-body">
              <h4 class="card-title h">Portugal 2013 Road-Trip</h4>
              <p class="card-text">The term minimalism is also used to describe a trend in design and architecture where in the subject is reduce...</p>
              <h6 class="text-muted">04 October,2013 .<span class="h"> 1 Comments</span></h6>
            </div>
          </div>  
        </div>
         <div class="col-lg-4 col-md-6 col-sm-12 mt-5 p-4">
          <div class="card">
            <img class="card-img-top width" src="/assets/blog4.jpg" alt="Card image" >
            <div class="card-body">
              <h4 class="card-title h">Iceland's Timelapse</h4>
              <p class="card-text">The term minimalism is also used to describe a trend in design and architecture where in the subject is reduce...</p>
              <h6 class="text-muted">04 October,2013 .<span class="h">No Comments</span></h6>
            </div>
          </div>  
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mt-5 p-4">
          <div class="card">
            <img class="card-img-top width" src="/assets/blog5.jpg" alt="Card image" >
            <div class="card-body">
              <h4 class="card-title h">Unlocking Hidden Secrets</h4>
              <p class="card-text">The term minimalism is also used to describe a trend in design and architecture where in the subject is reduce...</p>
              <h6 class="text-muted">04 October,2013 .<span class="h">No Comments</span></h6>
            </div>
          </div>  
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mt-5 p-4">
          <div class="card">
            <img class="card-img-top width" src="/assets/blog6.jpg" alt="Card image" >
            <div class="card-body">
              <h4 class="card-title h">Inside The Protein Bar</h4>
              <p class="card-text">The term minimalism is also used to describe a trend in design and architecture where in the subject is reduce...</p>
              <h6 class="text-muted">04 October,2013 .<span class="h">No Comments</span></h6>
            </div>
          </div>  
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mt-5 mb-5 p-4">
          <div class="card">
            <img class="card-img-top width" src="/assets/blog3.jpg" alt="Card image" >
            <div class="card-body">
              <h4 class="card-title h">Josh W - Already There</h4>
              <p class="card-text">The term minimalism is also used to describe a trend in design and architecture where in the subject is reduce...</p>
              <h6 class="text-muted">04 October,2013 .<span class="h">No Comments</span></h6>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid text-center footer">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <p class="pw">© Copyright 2012 by<span> Example</span>. All Rights Reserved.</p>
      </div>
    </div>
  </div>