<div class="container-fluid">
  <div class="row text-center text-secondary pt-3 pb-2">
  <div class="col-lg-1 col-md-2 col-sm-12"></div>
  <div class="col-lg-2 col-md-12 col-sm-12">
    <img src="/assets/univerlogo.png" alt="Bridge University" class="image">
  </div>
  <div class="col-lg-2 col-md-1 col-sm-12"></div> 
  <div class="col-lg-1 col-md-2 col-sm-12 p-2">
      <a routerLink="/home" class="list-inline-item navbar-brand ">Home</a>
    </div>
    <div class="col-lg-1 col-md-2 col-sm-12 p-2">
      <a routerLink="/about" class="list-inline-item   navbar-brand">About</a>
    </div>
    <div class="col-lg-1 col-md-2 col-sm-12 p-2">
      <a routerLink="/service"class="list-inline-item   navbar-brand">Service</a>
    </div>
    <div class="col-lg-1 col-md-2 col-sm-12 p-2">
      <a routerLink="/contact"class="list-inline-item  navbar-brand">Contact Us</a>
    </div>
  <div class="col-lg-1 col-md-1 col-sm-12"></div> 
  </div>
  <div class="container-fluid bg-danger">
    <div class="container-fluid text-center text-white">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 mt-5">
          <h1>Meet The Team</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 mt-5">
          <img src="/assets/team-11.jpg" alt="name">
          <h3 class="mt-2">Harry Potter</h3>
          <span class="size">Founder</span><br>
          <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</span>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 mt-5">
          <img src="/assets/team-21.jpg" alt="name">
          <h3 class="mt-2">Hermione Granger</h3>
          <span class="size">Marketing</span><br>
          <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</span>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 mt-5 mb-5">
          <img src="/assets/team-31.jpg" alt="name">
          <h3 class="mt-2">Ron Weasley</h3>
          <span class="size">Designer</span><br>
          <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</span>
        </div>
      </div>
    </div>
    </div>
    <div class="container-fluid bca text-center text-white">
      <div class="row">
      	<div class="col-lg-3 col-md-3 col-sm-3 mt-5">
      		<h1 class="font">134</h1>
      		<h4>Cups Of Coffee</h4>
      	</div>
      	<div class="col-lg-3 col-md-3 col-sm-3 mt-5">
      		<h1 class="font">17</h1>
      		<h4>Awards Won</h4>
      	</div>
      	<div class="col-lg-3 col-md-3 col-sm-3 mt-5">
      		<h1 class="font">85</h1>
      		<h4>Summer Days</h4>
      	</div>
      	<div class="col-lg-3 col-md-3 col-sm-3 mt-5 mb-5">
      		<h1 class="font">215</h1>
      		<h4>Happy Clients</h4>
      	</div>
      </div>
      </div>
      <div class="container-fluid text-center footer">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <p class="pw">© Copyright 2012 by<span> Example</span>. All Rights Reserved.</p>
          </div>
        </div>
      </div>